body {
  font-family: Georgia, sans-serif;
  padding: 40px;
}

div#container {
  margin: auto;
  width: 780px;
}

a {
  color: #000000;
}

em {
  font-style: italic;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

h2 {
  color: #C0C0C0;
  font-size: 1.2em;
  margin: 20px 0;
}

ol#examples {
  list-style-type: square;
  margin-left: 20px;
}

ol#examples li {
  line-height: 1.4em;
  margin-bottom: 20px;
}

form img {
  display: none;
  margin-left: 10px;
  vertical-align: bottom;
}

form.mp_busy img {
  display: inline;
}

pre {
  line-height: 1.4em;
}

/*** Marco Polo ***/

/* The input. */
input.mp_input {
  border: 1px solid #000000;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 3px;
  width: 250px;
}

/* Ordered list for display results. */
ol.mp_list {
  background-color: #FFFFFF;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  overflow: hidden;
  position: absolute;
  width: 256px;
  z-index: 99999;
}

/* Each list item, regardless of success, error, etc. */
ol.mp_list li {
  border-bottom: 1px solid #C0C0C0;
  padding: 4px 4px 5px;
}

/* Each list item from a successful request. */
ol.mp_list li.mp_item {

}

/* Each list item that's selectable. */
ol.mp_list li.mp_selectable {
  cursor: pointer;
}

/* Currently highlighted list item. */
ol.mp_list li.mp_highlighted {
  background-color: #E0E0E0;
}

/* When a request is made that returns zero results. */
ol.mp_list li.mp_no_results {

}

/* When a request is made that doesn't meet the 'minChars' length option. */
ol.mp_list li.mp_min_chars {

}

/* When a request is made that fails during the ajax request. */
ol.mp_list li.mp_error {

}
